<div
  style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu"
></div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <div mat-menu-item [disabled]="true">
      {{ item.name }}
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="openRenameDialog(item)">
      <mat-icon>edit</mat-icon>
      <span>Rename</span>
    </button>
    <button mat-menu-item (click)="openDeleteDialog(item)">
      <mat-icon color="warn">delete</mat-icon>
      <span class="delete">Delete</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="openContributorsDialog(item)">
      <mat-icon>group</mat-icon>
      <span>Contributors</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="downloadDocument(item)">
      <mat-icon>save_alt</mat-icon>
      <span>Save Document (Local)</span>
    </button>
  </ng-template>
</mat-menu>
