:host {
  .form {
    margin-top: 2rem;

    & > * {
      width: 100%;
    }

    & > * + * {
      margin-top: 1rem;
    }

    .button-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
