<div>
  <h2>Sign In</h2>
  Sign in now to use the editor or register to become a part of the great
  editor.

  <div class="form">
    <mat-form-field class="example-form-field">
      <mat-label>Username or email address</mat-label>
      <input matInput type="text" [(ngModel)]="loginData.user" />
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="loginData.password"
        (keydown.enter)="signIn._getHostElement().click()"
      />
    </mat-form-field>

    <div class="button-actions">
      <button mat-stroked-button>Register</button>
      <button
        #signIn
        mat-raised-button
        color="primary"
        [disabled]="
          !loginData ||
          !loginData.user ||
          !loginData.password ||
          (loginData.password && loginData.password.length < passwordMinLen) ||
          isLoading
        "
        (click)="submit()"
      >
        <span *ngIf="!isLoading">Sign In</span>
        <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
      </button>
    </div>
  </div>
</div>
