:host {
  .container {
    position: relative;
    display: flex;
    height: 100%;
    // border: 1px solid lightgray;

    .highlightContainer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: auto;
    }

    .highlighter,
    .text-editor {
      padding: 10px;
      font: 14px 'Open Sans', monospace;
      letter-spacing: 1px;
    }

    .highlighter {
      margin: 0;
      color: tan;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .text-editor {
      flex: 1;
      background-color: transparent;
      resize: none;
      border: 0;
      z-index: 1;
    }
  }
}
