<div class="container">
  <div class="highlightContainer" #highlighter>
    <pre
      class="highlighter"
    ><app-marker [markdownText]="textEditor"></app-marker></pre>
  </div>
  <textarea
    rows="10"
    class="text-editor"
    [afterChanged]="changeHeight"
    [afterExternalChanged]="changeHeight"
    [(ngModel)]="markdownService.text"
    (keyup)="changeCursor($event.target)"
    (click)="changeCursor($event.target)"
    (scroll)="syncScroll(textEditor, highlighter)"
    #textEditor
  ></textarea>
</div>
