<app-dialog-with-loading-spinner
  title="New Document"
  cancelText="Cancel"
  okayText="Create"
  [okayDisabled]="!fileName || !nameIsValidate(fileName)"
  [submitFunc]="submit.bind(this)"
  #dialog
>
  To write and share something, you need a document. Create a new document to
  start the party!
  <br />
  <mat-form-field class="file-name-form">
    <mat-label>Document Name</mat-label>
    <input
      matInput
      [(ngModel)]="fileName"
      (keydown.enter)="emitButtonSubmit()"
    />
  </mat-form-field>
</app-dialog-with-loading-spinner>
