<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content>
  <div class="container">
    <mat-tab-group selectedIndex="2">
      <mat-tab label="View"> Tab One Content </mat-tab>
      <mat-tab label="Document"> Tab Two Content </mat-tab>
      <mat-tab label="Behaviour"
        ><app-tab-behaviour></app-tab-behaviour
      ></mat-tab>
    </mat-tab-group>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" autofocus>Apply</button>
</mat-dialog-actions>
