:host {
  /**
  @remark This part is inspired by: https://stackoverflow.com/a/63823715
   */
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

    flex: 1 0 auto;
    margin: 0 auto;

    ::ng-deep {
      .mat-tab-group {
        flex-direction: row;
        flex: 1;
      }
      .mat-tab-header {
        border-bottom: none;
      }
      .mat-tab-header-pagination {
        display: none !important;
      }
      .mat-tab-labels {
        flex-direction: column;
      }
      .mat-tab-label {
        justify-content: flex-start;
      }
      .mat-tab-label[aria-selected='true'] {
        color: #000;
        opacity: 1;
      }
      .mat-ink-bar {
        height: 100%;
        left: 98% !important;
      }
      .mat-tab-body-wrapper {
        flex: 1 1 auto;
        margin-left: 2rem;
      }
    }
  }
}
