<div class="menu-strip">
  <span>
    <button mat-button [matMenuTriggerFor]="menuFile">File</button>
    <!-- <button mat-button disabled>Share</button> -->
    <button mat-button [matMenuTriggerFor]="menuAcc">Account</button>
    <button mat-button (click)="openSettingsDialog()">Settings</button>
    <span> Participants (Debug): {{ socketService.views }} </span>

    <!-- menus -->
    <mat-menu #menuFile="matMenu">
      <button mat-menu-item (click)="openDocumentCreateDialog()">
        <mat-icon>note_add</mat-icon>
        <span>New Document</span>
      </button>
      <button
        mat-menu-item
        (click)="openContributorsDialog()"
        [disabled]="!userService.getCurrentDocument()"
      >
        <mat-icon>group</mat-icon>
        <span>Contributors</span>
      </button>
      <button
        mat-menu-item
        (click)="downloadFile()"
        [disabled]="!userService.getCurrentDocument()"
      >
        <mat-icon>save_alt</mat-icon>
        <span>Save File (Local)</span>
      </button>
    </mat-menu>

    <mat-menu #menuAcc="matMenu">
      <button mat-menu-item disabled>Logged In As: {{ username }}</button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </span>
  <span class="filler"></span>
  <span class="last-cell">
    <span
      class="markdown-previewer"
      (click)="
        settingsService.visibleRenderMarkdown = !settingsService.visibleRenderMarkdown
      "
    >
      <span
        class="material-icons"
        *ngIf="!settingsService.visibleRenderMarkdown"
      >
        visibility
      </span>
      <span
        class="material-icons"
        *ngIf="settingsService.visibleRenderMarkdown"
      >
        visibility_off
      </span>
    </span>
  </span>
</div>
