:host {
  .menu-strip {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .filler {
    flex: 1;
  }

  .last-cell {
    margin-right: 1rem;
  }

  .markdown-previewer {
    cursor: pointer;
    user-select: none;
    opacity: 0.2;
    transition: opacity 0.5s;

    & > * {
      margin-top: 5px;
    }
  }

  .markdown-previewer:hover {
    opacity: 1;
  }
}
