:host {
  @keyframes cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .highlightArea {
    position: relative;

    & > {
      position: absolute;
    }
  }

  .contributorSelection {
    background-color: rgba(255, 0, 0, 0.1);
    position: absolute;
    z-index: -1;
  }
  .contributorCursor {
    background-color: rgba(0, 190, 0, 0.7);
    position: absolute;
    z-index: -1;
    width: 1px;
    animation-name: cursor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
  }
}
