<div (resized)="onResized()" class="highlightArea">
  <div #fakeText>{{ markdownService.text }}</div>
  <div>
    <span
      [@fadeAnimation]="'in'"
      *ngFor="let cursor of contributorsSelections"
      [style.left]="cursor.x + 'px'"
      [style.top]="cursor.y + 'px'"
      [style.width]="cursor.width + 'px'"
      [style.height]="cursor.height + 'px'"
      class="contributorSelection"
    >
    </span>

    <span
      *ngFor="let cursor of contributorsCursors"
      [style.left]="cursor.x + 'px'"
      [style.top]="cursor.y + 'px'"
      [style.height]="cursor.height + 'px'"
      class="contributorCursor"
    >
    </span>
  </div>
</div>
