<div class="container">
  <span>UEBERBIT GmbH &copy; 2020 - {{ currentYear }}</span>
  <span><a [href]="backendURL">REST API</a></span>
  <span
    >In cooperation with
    <a href="https://www.lui-studio.net/" target="_blank" class="luiLink"
      >Lui's Studio</a
    ></span
  >
</div>
