<div class="roomList">
  <div class="roomList" *ngIf="settingsService.showDebugOptions">
    <h2>Debug Stuff</h2>

    <!--
  <mat-card (click)="sendA(5)">Send ABCDE (start)</mat-card>
  <mat-card (click)="sendB(5)">Send FGHIJ (end)</mat-card>
  -->
    <mat-card (click)="loremIpsum(5)" [attr.disabled]="loremIpsumTimer >= 0"
      >Send Lorem Ipsum (5 WPM)</mat-card
    >
    <mat-card (click)="loremIpsum(65)" [attr.disabled]="loremIpsumTimer >= 0"
      >Send Lorem Ipsum (65 WPM)</mat-card
    >
    <mat-card (click)="loremIpsum(108)" [attr.disabled]="loremIpsumTimer >= 0"
      >Send Lorem Ipsum (108 WPM)</mat-card
    >
    <mat-card (click)="loremIpsumCancel()" [attr.disabled]="loremIpsumTimer < 0"
      >Cancel</mat-card
    >
    <mat-card (click)="callDiff()">Get Line Diffs</mat-card>

    <mat-card (click)="invalidDTO()">Send Invalid DTO</mat-card>
  </div>

  <h2>Documents</h2>

  <!--     (click)="roomConnectorService.changeRoom(room)" -->
  <mat-card
    *ngFor="let doc of documents"
    [attr.selected]="doc.id === currentDocument?.id"
    (click)="changeDocument(doc, doc.id === currentDocument?.id)"
    (contextmenu)="openContextMenu($event, doc)"
    class="document-author"
  >
    <span>{{ doc.name }}</span>
    <button
      mat-icon-button
      class="button-more"
      aria-label="More Options"
      (click)="openContextMenu($event, doc)"
    >
      <mat-icon>more_vert</mat-icon>
    </button></mat-card
  >

  <h2 *ngIf="collaboratorDocuments.length > 0">Collaborator Documents</h2>

  <mat-card
    *ngFor="let doc of collaboratorDocuments"
    [attr.selected]="doc.id === currentDocument?.id"
    (click)="changeDocument(doc, doc.id === currentDocument?.id)"
    >{{ doc.name }}
  </mat-card>

  <app-context-menu></app-context-menu>
</div>
