:host {
  .roomList {
    & > *:not(.roomList) {
      margin: 1rem;
      transition: background-color 0.5s;
    }

    & > mat-card:hover:not([disabled='true']) {
      background-color: #eaeaea;
      cursor: pointer;
    }

    & > [selected='true'],
    & > [disabled='true'] {
      background-color: #e0e0e0;
      // pointer-events: none;
    }
  }

  .button-more {
    $buttonSize: 20px;
    width: $buttonSize;
    height: $buttonSize;
    line-height: $buttonSize;
    margin-top: -3px; // TODO: fix the dirty work around, find it why the next rule doesn't work

    & .mat-icon-button .mat-icon {
      line-height: $buttonSize;
      background-color: green;
    }
  }

  .document-author {
    display: flex;
    justify-content: center;
    align-items: center;

    & > span {
      flex: 1;
    }
  }
}
