<div class="container">
  <div class="menu-strip">
    <app-menu-strip></app-menu-strip>
  </div>
  <div class="page-content split-container">
    <app-splitter></app-splitter>
  </div>
  <app-footer></app-footer>
</div>
