:host {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .menu-strip {
    border-bottom: 1px solid #cccccc;
  }

  .page-content {
    flex: 1;
  }

  app-footer {
    border-top: 1px solid #ccc;
  }
}
