<app-dialog-with-loading-spinner
  title="Invite"
  cancelText="Cancel"
  okayText="Invite"
  [okayDisabled]="!checkEmailValidate()"
  [submitFunc]="submit.bind(this)"
  #dialog
>
  <mat-form-field class="file-name-form">
    <mat-label>E-Mail Address</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="emailAddress"
      (keydown.enter)="emitButtonSubmit()"
    />
    <button
      mat-button
      *ngIf="emailAddress"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="emailAddress = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</app-dialog-with-loading-spinner>
