<h2 mat-dialog-title>
  Contributors <i>{{ data.name }}</i>
</h2>
<mat-dialog-content *ngIf="!isLoading">
  <app-contri-list
    [(contributors)]="contributors"
    #contributorsList
  ></app-contri-list>
</mat-dialog-content>
<mat-dialog-content *ngIf="isLoading"
  ><div class="center-box"><mat-spinner></mat-spinner></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="openAddDialog()">
    <mat-icon>person_add</mat-icon>
    <span class="invite-text">Invite Person</span>
  </button>
</mat-dialog-actions>
