:host {
  .logo {
    max-width: 30%;
  }

  .threeD-effect {
    position: absolute;
    margin: 5px 0 0 5px;
    opacity: 0.3;
    filter: blur(5px);
  }

  h1,
  .logo-holder {
    text-align: center;
  }

  .logo-holder {
    position: relative;
  }
}
