<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content *ngIf="!isLoading">
  <ng-content></ng-content>
</mat-dialog-content>
<mat-dialog-content *ngIf="isLoading"
  ><div class="center-box"><mat-spinner></mat-spinner></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>{{ cancelText }}</button>
  <button
    #submitButton
    mat-raised-button
    [color]="okayTheme"
    (click)="submit()"
    autofocus
    [disabled]="isOkayDisabled || isLoading"
  >
    {{ okayText }}
  </button>
</mat-dialog-actions>
