:host {
  table {
    width: 100%;
  }

  .action {
    padding-right: 16px;
    width: 40px;
    text-align: center;
  }

  .remove {
    width: 70px;
    text-align: center;
  }

  .remove-group {
    position: relative;

    mat-icon:first-of-type {
      position: absolute;
      margin: 3px 0 0 -7px;
      opacity: 0.7;
      z-index: 0;
    }

    mat-icon:nth-of-type(n + 2) {
      position: relative;
      z-index: 5;
    }
  }
}
