<table mat-table [dataSource]="contributors">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select" class="action">
    <th mat-header-cell *matHeaderCellDef class="action">
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
        [disabled]="contributors.length === 0"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row" class="action">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
        [aria-label]="checkboxLabel(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Username Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>Username</th>
    <td mat-cell *matCellDef="let element">{{ element.username }}</td>
  </ng-container>

  <!-- E-Mail Address Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>E-Mail Address</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <!-- Action(s) Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="remove">Remove</th>
    <td mat-cell *matCellDef="let element" class="remove">
      <mat-spinner [diameter]="30" *ngIf="isRowDisabled(element)"></mat-spinner>
      <button
        mat-icon-button
        color="warn"
        aria-label="Remove Contributor"
        (click)="openRemoveDialog(element)"
        *ngIf="!isRowDisabled(element)"
      >
        <mat-icon>person_remove</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Footer (Horizontal Actions) Column -->
  <ng-container matColumnDef="horizontalActionRemove">
    <td mat-footer-cell *matFooterCellDef class="action">
      <button
        mat-icon-button
        color="warn"
        aria-label="Remove All Selected Contributors"
        class="remove-group"
        [disabled]="selection.selected.length === 0"
      >
        <mat-icon>person</mat-icon>
        <mat-icon>person_remove</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="horizontalActionAdd">
    <td
      mat-footer-cell
      *matFooterCellDef
      [colSpan]="displayedColumns.length - 1"
      class="action"
    ></td>
  </ng-container>

  <!-- No Contributors -->
  <ng-container matColumnDef="noContributors">
    <td mat-footer-cell *matFooterCellDef [colSpan]="displayedColumns.length">
      The document have no contributors.
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr
    mat-row
    *matFooterRowDef="['noContributors']"
    [style.display]="contributors.length > 0 ? 'none' : 'table-row'"
  ></tr>

  <tr
    mat-footer-row
    *matFooterRowDef="
      ['horizontalActionAdd', 'horizontalActionRemove'];
      sticky: true
    "
    class="example-second-footer-row"
  ></tr>
</table>
