:host {
  // dark-pattern, switch the "cancel" and "delete" button
  /*
  ::ng-deep {
    .mat-dialog-actions[align='end'] {
      justify-content: flex-start;
      flex-direction: row-reverse;
    }

    .mat-dialog-actions .mat-button-base + .mat-button-base,
    .mat-dialog-actions .mat-mdc-button-base + .mat-mdc-button-base {
      margin-right: 8px;
      margin-left: 0;
    }
  }
   */
}
