<app-auto-login *ngIf="isLoadingAutoSignIn"></app-auto-login>
<div class="table-content" *ngIf="!isLoadingAutoSignIn">
  <app-welcome-screen></app-welcome-screen>
  <mat-divider [vertical]="true"></mat-divider>
  <app-login-screen></app-login-screen>
</div>
