.table-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 100vw;
  height: 100vh;

  :not(mat-divider) {
    flex: 1;
    justify-self: center;
    align-self: center;

    padding: 2rem 6rem;
    max-width: 500px;
  }

  mat-divider {
    height: 70%;
    margin: auto 0;
  }
}
