:host {
  .container {
    height: 100%;
  }

  .markdown-previewer {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    user-select: none;
    opacity: 0.2;
    transition: opacity 0.5s;
  }

  .markdown-previewer:hover {
    opacity: 1;
  }

  .document-list {
    background-color: #f8f8f8;
  }

  .split-container {
    ::ng-deep .ui-split-gutter {
      background-color: grey !important;
      position: relative;
    }

    ::ng-deep .ui-split-gutter-icon {
      background-image: none !important;
      background-color: black;
      transition: opacity 0.3s;
      opacity: 0;
      position: absolute;
    }

    ::ng-deep .ui-split-gutter.ngx-dragged .ui-split-gutter-icon,
    ::ng-deep .ui-split-gutter-icon:hover {
      opacity: 0.1;
    }

    &.ngx-horizontal {
      ::ng-deep .ui-split-gutter-icon {
        width: 17px !important;
        left: -8px;
        right: 8px;
      }
    }
    &.ngx-vertical {
      ::ng-deep .ui-split-gutter-icon {
        height: 17px !important;
        top: -8px;
        bottom: 8px;
      }
    }
  }
}
