<div class="container">
  <ui-split direction="horizontal" [restrictMove]="true" [gutterSize]="3">
    <ui-split-area class="document-list" [size]="10" [minSize]="5">
      <app-room-list></app-room-list
    ></ui-split-area>
    <ui-split-area [size]="50">
      <app-text-editor *ngIf="isDocumentSelected"></app-text-editor>
      <app-document-placeholder
        *ngIf="!isDocumentSelected"
      ></app-document-placeholder>
    </ui-split-area>
    <ui-split-area [size]="40" *ngIf="settingsService.visibleRenderMarkdown"
      ><app-markdown-preview></app-markdown-preview
    ></ui-split-area>
  </ui-split>
</div>
