<div class="content-container">
  <div>
    <h1>Workspace</h1>

    <p>
      This is your workspace. After you have selected a document on the left
      side, it will be displayed here.
    </p>

    <br />
    <br />

    <h3>Create a New Document</h3>
    <p>
      There is a menu bar at the top. You can use it to create a new document.
      Go to "File" and click "Create a New Document".
    </p>
  </div>
</div>
