<app-dialog-with-loading-spinner
  title="Rename {{ data.name }}"
  cancelText="Cancel"
  okayText="Rename"
  [okayDisabled]="!nameIsValidate(newName)"
  [submitFunc]="submit.bind(this)"
  #dialog
>
  <mat-form-field class="file-name-form">
    <mat-label>New Name</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="newName"
      (keydown.enter)="emitButtonSubmit()"
    />
    <button
      mat-button
      *ngIf="newName"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="newName = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</app-dialog-with-loading-spinner>
