<div>
  <mat-form-field appearance="fill">
    <mat-label>Notification Type</mat-label>
    <mat-select [(value)]="selectedNotType">
      <mat-option
        *ngFor="let notType of notificationTypes"
        [value]="notType.value"
        [disabled]="notType.disabled"
      >
        {{ notType.display }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p (click)="requestPushNotifications()">
    Request permissions for push notifications
  </p>
</div>
