/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.luiLink,
.luiLink:visited {
  color: #0d7c59;
  font-weight: bold;
  text-decoration: underline;
  transition: color 1s ease;
}
.luiLink:hover {
  color: #16cc92;
  text-decoration: underline;
}
